
    
    h1 {
    	color: #f442bc;
    	border-color: blue;
    	border-width: 3px;
    	border-style: solid;
    }
    
    h4{
    	background: blue;
    }

    body{
    	background: url(https://www.pinterest.com/pin/528047125028746989/);
    }

    li{
    	color: #41f459;

    }
    