<!DOCTYPE html>
<html>
<head>
	<title> Blog Page</title>
<link rel="stylesheet" type="text/css" href="bootstrap.css">

</head>

<body>
<div class="post">
	
<div class="date">November 23 2015</div>
<h3> This is my first article</h3>
<p class="quote">
	ITU pioneers a modern, industry-focused educational model to deliver education globally. ITU's educational pedagogy cultivates innovative thinking, ethical leadership, and entrepreneurial spirit through practical, industry relevant curriculum that reflects Silicon Valley's culture. ITU closes the employment skills gap and empowers people to lead successful, enriching lives as meaningful contributors to the global community. The purpose of ITU is to foster excellence in education for students particularly interested in the high-tech entrepreneurial field. All our programs have an applied nature, with an emphasis on specialty areas tailored to the market needs of Silicon Valley companies.
</p>
<p>
	ITU pioneers a modern, industry-focused educational model to deliver education globally. ITU's educational pedagogy cultivates innovative thinking, ethical leadership, and entrepreneurial spirit through practical, industry relevant curriculum that reflects Silicon Valley's culture. ITU closes the employment skills gap and empowers people to lead successful, enriching lives as meaningful contributors to the global community. The purpose of ITU is to foster excellence in education for students particularly interested in the high-tech entrepreneurial field. All our programs have an applied nature, with an emphasis on specialty areas tailored to the market needs of Silicon Valley companies.
</p>
<footer class="asp">@SunilPrasad</footer>
</div>	
</body>
</html>