<!DOCTYPE html>
<html>
<head>
	<title>Photo Blog</title>
<!--	<link rel="stylesheet" type="text/css" href="photo.css"> -->

	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='photo.css')}}">
</head>
<body>
	<h1> Photo Album</h1>

	<img src="white-desert.jpg ">
	<img src="wildlife-Sanctuary.jpg ">
	<img src="vijay-vilas-palace-kutch.jpg ">
	 
	 <img src="Kutch.jpg ">
	 <img src="Mandvi.jpg ">
	 <img src="Mandvi.jpg ">

	 <img src="http://c2.staticflickr.com/6/5588/14991687545_5c8e1a2e86_b.jpg ">
	 <img src="http://c2.staticflickr.com/4/3888/14878097108_5997041006_b.jpg ">
	 <img src="http://c2.staticflickr.com/8/7579/15482110477_0b0e9e5421_b.jpg">
	 
	

</body>
</html>