<!DOCTYPE html>
<html>
<head>
	<title> Radio Button</title>
</head>
<body>
	<p> Do you prefer dog or cat</p>
	<form>
		<label for="dog">Dog:</label>
		<input type="Radio" name="petchoice" id="dog" value="Dog">
		
		<label for="cat">cat:</label>
		<input type="Radio" name="petchoice" id="cat" value="cat">
        
        <p>What's Your favorite color?</p>
        <select name="color">
        	<option>Red</option>
        	<option>Orange</option>
        	<option>Yellow</option>
        </select>
         
         <textarea name="paragraph" rows="5" cols="5"></textarea>

		<button>Go!</button>
	</form>

</body>
</html>