<!DOCTYPE html>
<html>
<head>
    <title>Things I've Learned</title>
</head>
<body>
<h1>Things I've Learned</h1>
<h2>Internet Basics</h2>
<ol>
    <li>Http Request</li>
    <li>IP Address</li>
    <li>Serviers</li>
</ol>
<img src="https://lh3.googleusercontent.com/-QisoHcSHVNk/V__NOIO6EGI/AAAAAAAADVI/omTCpV0HAssK5yXBeMXDIGC51afgNWPfACJkCGAYYCw/w1082-h609-n-rw-no/2dce9b7c-d46f-48cf-9be7-2c71297a091a">

<a href="https://plus.google.com/+SunilPrasad">Sunil Google Plus Account</a>
<a href="Page2.html">Go to page 2</a>
<h2><strong>HTML</strong></h2>
    <ul>
        <li>Stands for <strong> Hyper Text Markup Language</strong></li>
        <li>Lots of Tags</li>
        <ul>
            <li>Boilerplate</li>
            <ol>
                <li>Doctyoe</li>
                <li>HTML</li>
                <li>Head</li>
                <ol>
                    <li> Title</li>
                </ol>
            </ol>
        </ul>
        <li>Headings</li>
        <li>Paragraph</li>
        <li>Em</li>
        <li><strong>Strong</strong></li>
    </ul>
</body>
</html>