<!DOCTYPE html>
<html>
<head>
	<title>Web Page</title>
	<link rel="stylesheet" type="text/css" href="WebPage.css">

	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='WebPage.css' )}}">
</head>
<body>
	<h2> Overview </h2>
	<p>
A land of colour, culture and spectacular topography, Kutch with its rustic beauty is nothing less than a pictorial wonderland. Kutch, the land of the creators, myriad colors, and infinite variety, is the place where time has left its footprints. The literal meaning of term Kutch is something which intermittently becomes wet and dry. The term 'Kutch' is also used for tortoise in Sanskrit. A large part of the Kutch, commonly known as the Great Rann of Kutch, submerges in water during the rainy season and becomes dry during the winter season. Starting from Indus valley civilization to Rao dynasty, every ruler has gifted Kutch legacy of art and architecture.</p>
	<p>
		<b> History: </b>
Forming the North-Western region of Gujarat, Kutch is a land of heroism and romance. One can see the traces of human settlement in Gujarat since the time of Indus Valley Civilization, which signifies that the early Stone Age man used to love in the area. In fact, one of the largest Harappan sites in the Indian sub-continent, Dholavira is located in the Khadir Bet Island of the Kutch. Historians say that Kutch was first ruled by Enander I of Greco-Bactrian Kingdom, who was later overthrown by Indo-Scythians and then finally Gupta Empire came into power. Due its amazing geographical conditions, Kutch has captured the interest of many republics like Maitraka of Valabhi, Chavdas, Solanki, Vaghelas, Sindh, Rajput Samma and later in the thirteenth century, the length and breadth of the area were seized by the Jadeja Dynasty. In the year 1819, Kutch was captured by the East India Company after fighting a terrifying battle against the Jadgea dynasty.
     </p>
     <h3> Things to Do in Kutch </h3>
     <ul>
     	<li>Purchase Kutch embroidery jackets, mirror work fabrics, patchwork fabric, pottery, silver jewellery, rogan paintings, leather products and embroidery runners from the local markets of Anjar and Bhuj.</li>
<li> Go for a beach walk on the coastal land of Mandvi.</li>
<li> Visit the sites of Indus Valley Civilization sites in Dholavira. </li>
<li> Sample local cuisines of Kutch like Dhokla, Thepala, Fafda, Kachori, Khandvi, Hahdwoh, Ganthia, Oondhiya, Debra, Surat Paun and countless other Gujrati delicacies. </li>
<li> Stay in an eco-resort or spend a night in the tribal homestays. </li>
<li> Go for a jeep safari in the Jeep SafarI in the Little Rann of Kutch </li>
<li> Walk at the White Rann of Kutch in full Moonlight</li>
<li> Visit the Rann of Kutch's Indo-Pak border area. </li>
<li> Experience Kutch at its colorful and exotic by attending the Kutch Utsav. </li>
<li> Go for wildlife safari to the Indian Wild Ass Sanctuary in the Little Rann of Kutch in northwest Gujarat. </li>
<li> Meet and greet the Gujarat's African-Indian tribe- Siddi tribe, who stay in the Bhuj region. </li>
<li> Go on a camel safari and camp out in the Great Rann of Kutch white desert. </li>
<li> Enjoy the panoramic view of Kutch from the top point of Kala Dungar. </li>
<li> Witness the grand history of the region by visiting some of the oldest museums of Gujarat. </li>

     </ul>
    
</body>
</html>